@import 'app.scss';

.intro {
  height: 100vh;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  &:before {
    position: absolute;
    content: '';
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
  }
}

.intro-content {
  position: relative;
  height: 100%;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 100%;
  h1 {
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing:2px;
    font-size:3rem;
    font-family: $playfair;
  }
  h3 {
    color: whitesmoke;
    text-transform: uppercase;
    font-family: $opensans;
  }
}

.pros {
  margin: 100px auto;
  flex-direction: row;
  display: flex;
  > div {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    h2 {
      text-align: center;
    }
  }
}

.pros-image {
  padding: 25px;
}

.about-us {
  display: flex;
  min-height: 500px;
  flex-direction: row;
  margin-bottom: 20px;
}

.about-us-text {
  flex-direction: column;
  display: flex;
  align-self:center;
  height: 100%;
  justify-content: center;
  flex:3 0 0;
  font-family: $playfair;
  line-height:1.2;
}

.about-us-images {
  display: flex;
  flex: 7 0 0;
  position: relative;
  flex-direction: row;
}

.about-us-images-left,.about-us-images-right {
  display: flex;
  width: calc(50% - 5px);

}

.about-us-images-left {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  div {
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
  }
}

.about-us-images-right {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  div {
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
  }
}

.image-tall {
  margin-bottom: 10px;
  flex:6 0 0;
  display: flex;
}

.image-small {
  flex: 4 0 0;
  display: flex;
}

.cooperate-with-us {
  min-height: 50vh;
  -webkit-background-size: cover;
  background-size: cover;
  height: 600px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.25);
  }
}

.cooperate-content {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  h2 {
    color: whitesmoke;
    font-family: $opensans;
    text-align: center;
    font-size: 2.5rem;
  }
}

.leaders {
  min-height:50vh;
  -webkit-background-size: cover;
  background-size: cover;
  height: 600px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.25);
  }
}

.leaders-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  h3 {
    font-family: $playfair;
    font-size:2rem;
    letter-spacing:2px;
    text-transform: uppercase;
  }
  > div {
    display: flex;
    flex-direction: row;
  }
}
.leading-product {
  display: flex;
  flex:1 0 0;
  width:25%;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-direction: column;
}

.leading-product-image  {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.27);
  text-decoration: none;
  display: block;
  background: white;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  //box-shadow: 0px 0px 0px 1px #000 inset;
  height: 150px;
  width: 150px;
  //outline:2px dashed #232323;
  //outline-offset: 5px;
  >div {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.leading-product-name {
  //margin-top: 30px;
  padding: 15px 0;
  position: relative;
  text-align: center;
  font-size:1.2rem;
  line-height:1.2;
  font-family: $opensans;
  text-decoration: none;
  color: #000;
}

.news {
  flex-direction: column;
  > h3 {
    text-align: center;
    font-family: $playfair;
    font-size:2rem;
    letter-spacing:2px;
    text-transform: uppercase;
  }
}

.latest-news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  > div {
    display: flex;
    flex:1 0 0;
  }
}

.news-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-image {
  display: flex;
  position: relative;
  width: 100%;
  max-height: 500px;
  min-height: 300px;
  a {
    padding: 25px;
    content: '';
    display: block;
    width: 100%;
    position: relative;
    text-decoration: none;
    > div {
      min-width: 100%;
      min-height: 100%;
      //width: 100%;
      background-size: cover;
      background-position: center;
    }
  }
}

.news-info {
  padding: 0 25px;
}