/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*, *:after, *:before {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navigation {
  z-index: 1000;
  flex-direction: row;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.nav-links {
  flex-direction: row;
  display: flex;
  list-style: none;
  position: relative;
  z-index: 1000;
  padding-left: 0;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.nav-links > li {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: center;
}
.nav-links a {
  text-decoration: none;
  color: whitesmoke;
  display: inline-block;
  position: relative;
  overflow: hidden;
  line-height: 24px;
}
.nav-links a:before, .nav-links a:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}
.nav-links a:before {
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: green;
  transform: translateX(-100%);
}
.nav-links a:hover:before {
  transform: translateX(0);
}
.nav-links a img {
  max-height: 60px;
}

.fdc {
  flex-direction: column;
}

.no-hover:before, .no-hover:after {
  display: none !important;
}

.intro {
  height: 100vh;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
}
.intro:before {
  position: absolute;
  content: "";
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.intro-content {
  position: relative;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.intro-content h1 {
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
}
.intro-content h3 {
  color: whitesmoke;
  text-transform: uppercase;
  font-family: "Open Sans", serif;
}

.pros {
  margin: 100px auto;
  flex-direction: row;
  display: flex;
}
.pros > div {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pros > div h2 {
  text-align: center;
}

.pros-image {
  padding: 25px;
}

.about-us {
  display: flex;
  min-height: 500px;
  flex-direction: row;
  margin-bottom: 20px;
}

.about-us-text {
  flex-direction: column;
  display: flex;
  align-self: center;
  height: 100%;
  justify-content: center;
  flex: 3 0 0;
  font-family: "Playfair Display", serif;
  line-height: 1.2;
}

.about-us-images {
  display: flex;
  flex: 7 0 0;
  position: relative;
  flex-direction: row;
}

.about-us-images-left, .about-us-images-right {
  display: flex;
  width: calc(50% - 5px);
}

.about-us-images-left {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.about-us-images-left div {
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
}

.about-us-images-right {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.about-us-images-right div {
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
}

.image-tall {
  margin-bottom: 10px;
  flex: 6 0 0;
  display: flex;
}

.image-small {
  flex: 4 0 0;
  display: flex;
}

.cooperate-with-us {
  min-height: 50vh;
  -webkit-background-size: cover;
  background-size: cover;
  height: 600px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.cooperate-with-us:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
}

.cooperate-content {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.cooperate-content h2 {
  color: whitesmoke;
  font-family: "Open Sans", serif;
  text-align: center;
  font-size: 2.5rem;
}

.leaders {
  min-height: 50vh;
  -webkit-background-size: cover;
  background-size: cover;
  height: 600px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}
.leaders:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
}

.leaders-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.leaders-content h3 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.leaders-content > div {
  display: flex;
  flex-direction: row;
}

.leading-product {
  display: flex;
  flex: 1 0 0;
  width: 25%;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-direction: column;
}

.leading-product-image {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.27);
  text-decoration: none;
  display: block;
  background: white;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  height: 150px;
  width: 150px;
}
.leading-product-image > div {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.leading-product-name {
  padding: 15px 0;
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2;
  font-family: "Open Sans", serif;
  text-decoration: none;
  color: #000;
}

.news {
  flex-direction: column;
}
.news > h3 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.latest-news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.latest-news > div {
  display: flex;
  flex: 1 0 0;
}

.news-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-image {
  display: flex;
  position: relative;
  width: 100%;
  max-height: 500px;
  min-height: 300px;
}
.news-image a {
  padding: 25px;
  content: "";
  display: block;
  width: 100%;
  position: relative;
  text-decoration: none;
}
.news-image a > div {
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.news-info {
  padding: 0 25px;
}

/*# sourceMappingURL=home.css.map */
